<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAasoXTVFVlR3w9lov4xa1NQcZ22FcF9b8</string>
	<key>GCM_SENDER_ID</key>
	<string>536528549262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.satti.tsd</string>
	<key>PROJECT_ID</key>
	<string>tsd-it</string>
	<key>STORAGE_BUCKET</key>
	<string>tsd-it.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536528549262:ios:d57de4dd58193c9461e0df</string>
</dict>
</plist>